<tr>
  <td><%= tbitaobse.Fecha %>
    <bl></bl> <%= tbitaobse.Hora %></td>
  <td><%= tbitaobse.Observaciones %></td>
  <td><%= tbitaobse.IdEstado %> - <%= tbitaobse.testadosxalerta.Descripcion %></td>
  <td>
    <% if tbitaobse.user.present? %>
        <%= tbitaobse.IdUsuarioAtencion %>- <%= tbitaobse.user.name %> <%= tbitaobse.user.last_name %>
    <% else %>
        <%= tbitaobse.IdUsuarioAtencion %>
    <% end %>
</tr>