<!--Atendidas Transaccional: <%#= @atendTrans = Tbitacora.where("IdProducto = 1").where("IdUsuario != 'N/A'").count %> <br>-->
<!--No atendidas Transaccional: <%#= @noAtendTrans = Tbitacora.where("IdProducto = 1").where("IdUsuario = 'N/A'").count %>-->
<!--<br>-->
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--<br>-->
<!--Atendidas Perfiles: <%#= @atendTrans = Tbitacora.where("IdProducto = 2").where("IdUsuario != 'N/A'").count %> <br>-->
<!--No atendidas Perfiles: <%#= @noAtendTrans = Tbitacora.where("IdProducto = 2").where("IdUsuario = 'N/A'").count %> <br>-->
<% if current_user.habilitado == 1 %>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">
        <div class="ibox float-e-margins">
          <div class="ibox-content" id="responsiveTable">
            <h2> <%= t('views.home_index.not_enabled') %> </h2>
            <br>
            <%= link_to t('views.home_index.cerrar_sesion'), destroy_user_session_path, method: :delete, :class => 'btn btn-danger' %>
          </div>
        </div>
      </div>
    </div>
<% else %>
    <input type="hidden" value="<%= current_user.id %>" name="id_user" id="NoUsuario">
    <% if @sin_permisos = false || !@sin_permisos.present? %>
        <div class="row flexbox">
          <input type="hidden" id="refresh" value="no">

          <div class="col-md-4 flexbox">
            <div class="width widget style1 navy-bg">
              <div>
                <span class="label label-info pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
                <h3><%= t('views.home_index.total_gen') %></h3> <!-- Total alerts to attend -->
              </div>
              <br>
              <div class="todas" style="padding-bottom: 10px">
                <h1 class="no-margins primero"><%= number_with_delimiter( @todas, :delimiter => ',' ) %></h1>
              </div>
            </div>
          </div>

          <div class="col-md-4 flexbox">
            <div class="width widget style1 navy-bg">
              <div>
                <span class="label label-info pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
                <h3><%= t('views.home_index.total_alert_home') %></h3> <!-- Total Alerts per day -->
              </div>
              <br>
              <div class="total-to-attend" style="padding-bottom: 10px;">
                <h1 class="no-margins"><%= number_with_delimiter( Tbitacora.where(:IdEstado => 1).where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdUsuario => "N/A").count, :delimiter => ',' )  %></h1>
              </div>
            </div>
          </div>

          <div class="col-md-4 flexbox">
            <div class="width widget style1 navy-bg">
              <div>
                <span class="label label-info pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
                <h3><%= t('views.home_index.total_alert_at') %></h3> <!-- Total alerts attended per day -->
              </div>

              <br>

              <div class="total-attend" style="padding-bottom: 10px">
                <h1 class="no-margins"><%= number_with_delimiter( Tbitacora.where(:canceladas => 0).where(:IdTipoReg => 3).where.not(:IdUsuario => "N/A").count, :delimiter => ',' ) %></h1>
              </div>
            </div>
          </div>


        </div>

        <div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-xs-12">
            <h1><%= t('views.home_index.alert') %></h1><!-- Alert Levels -->
          </div>
        </div>


        <%#= @bit = Tbitacora.first.id %>
        <div class="wrapper wrapper-content animated fadeInRight">
          <div class="row">
            <% if (@leerNewTran == 2 || @leerConTran == 2) && (@leerNewPer == 2 || @leerConPer == 2) %>
                <div class="col-md-4">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
                      <h3 class="font-bold no-margins"><%= t('views.home_index.alerts_to') %></h3>
                    </div>
                    <div class="ibox-content responsiveGeneral">
                      <div class="contadorSuperior">
                        <%= render 'home/pie1' %>
                      </div>
                    </div>

                    <%#= render 'home/pie1' %>

                  </div>
                </div>
            <% elsif (@leerNewTran == 2 || @leerConTran == 2) || (@leerNewPer == 2 || @leerConPer == 2) %>
                <div class="col-md-6">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
                      <h3 class="font-bold no-margins"><%= t('views.home_index.alerts_to') %></h3>
                    </div>
                    <div class="ibox-content responsiveGeneral">
                      <div class="contadorSuperior">
                        <%= render 'home/pie1' %>
                      </div>
                    </div>

                    <%#= render 'home/pie1' %>

                  </div>
                </div>
            <% end %>

            <% if (@leerNewTran == 2 && @leerNewPer == 2) || (@leerConTran == 2 && @leerConPer == 2) #Se muestran ambas   %>
                <div class="col-md-4">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
                      <h3 class="font-bold no-margins"><%= t('views.home_index.alerts_prod_tran_home') %></h3>
                    </div>
                    <div class="ibox-content responsiveGeneral">
                      <div class="pie2">
                        <%= render 'home/pie2' %>
                      </div>
                    </div>

                  </div>

                </div>
            <% elsif (@leerNewTran == 2 && !@leerNewPer == 2) || (@leerConTran == 2 && !@leerConPer == 2) #Solo Transaccional   %>
                <div class="col-md-6">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
                      <h3 class="font-bold no-margins"><%= t('views.home_index.alerts_prod_tran_home') %></h3>
                    </div>
                    <div class="ibox-content responsiveGeneral">
                      <div class="pie2">
                        <%= render 'home/pie2' %>
                      </div>
                    </div>

                  </div>

                </div>
            <% end %>

            <% if (@leerNewPer == 2 && @leerNewTran == 2) || (@leerConPer == 2 && @leerConTran == 2) #Se muestran ambas    %>
                <div class="col-md-4">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
                      <h3 class="font-bold no-margins"><%= t('views.home_index.total_alert_per') %></h3>
                    </div>
                    <div class="ibox-content responsiveGeneral">
                      <div class="pie3">
                        <%= render 'home/pie3' %>
                      </div>
                    </div>
                  </div>
                </div>
            <% elsif (@leerNewPer == 2 && @leerNewTran != 2) || (@leerConPer == 2 && @leerConTran != 2) #Solo perfiles   %>
                <div class="col-md-6">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
                      <h3 class="font-bold no-margins"><%= t('views.home_index.total_alert_per') %></h3>
                    </div>
                    <div class="ibox-content responsiveGeneral">
                      <div class="pie3">
                        <%= render 'home/pie3' %>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>

          <!-- ******************************************** gris ******************************************** -->
          <div class="row">
            <% if (@leerNewTran == 2 || @leerConTran == 2) && (@leerNewPer == 2 || @leerConPer == 2) %>
                <div class="col-md-4">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
                      <h3><%= t('views.home_index.alerts_to') %></h3>
                    </div>
                    <div class="ibox-content">
                      <!--<h1 class="no-margins">0</h1>-->
                      <div class="totalAlerts">
                        <strong class="color1">Transaccional:</strong></i>
                        <small class="no-margins color1"><%= @countTrans %></small>
                        <br>
                        <strong class="color2">Perfiles:</strong>
                        <small class="no-margins color2"><%= @countPerf %></small>
                        <br>
                      </div>


                    </div>
                  </div>
                </div>
            <% elsif (@leerNewTran == 2 || @leerConTran == 2) || (@leerNewPer == 2 || @leerConPer == 2) %>
                <div class="col-md-6">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
                      <h3><%= t('views.home_index.alerts_to') %></h3>
                    </div>
                    <div class="ibox-content">
                      <!--<h1 class="no-margins">0</h1>-->
                      <div class="totalAlerts">
                        <strong class="color1">Transaccional:</strong></i>
                        <small class="no-margins color1"><%= @countTrans %></small>
                        <br>
                        <strong class="color2">Perfiles:</strong>
                        <small class="no-margins color2"><%= @countPerf %></small>
                        <br>
                      </div>


                    </div>
                  </div>
                </div>
            <% end %>


            <% if (@leerNewTran == 2 && @leerNewPer == 2) || (@leerConTran == 2 && @leerConPer == 2) #Se muestran ambas   %>
                <div class="col-md-4">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
                      <h3><%= t('views.home_index.alerts_prod_tran_home') %></h3>
                    </div>
                    <div class="ibox-content">
                      <!--<h1 class="no-margins">0</h1>-->
                      <!--<div class="stat-percent font-bold text-info">0% <i class="fa fa-level-down"></i></div>-->
                      <div class="alertaTransaccional">
                        <strong class="color1"><%= t('views.home_index.atendidas') %></strong>
                        <small class="no-margins color1"><%= Tbitacora.where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdProducto => 1).where.not(:IdUsuario => "N/A").count %></small>
                        <br>
                        <strong class="color2"><%= t('views.home_index.no_Atendidas') %></strong>
                        <small class="no-margins color2"><%= Tbitacora.where(:IdEstado => 1).where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdProducto => 1).where(:IdUsuario => "N/A").count %></small>
                        <br>
                      </div>


                    </div>
                  </div>
                </div>
            <% elsif (@leerNewTran == 2 && !@leerNewPer == 2) || (@leerConTran == 2 && !@leerConPer == 2) #Solo Transaccional   %>
                <div class="col-md-6">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
                      <h3><%= t('views.home_index.alerts_prod_tran_home') %></h3>
                    </div>
                    <div class="ibox-content">
                      <!--<h1 class="no-margins">0</h1>-->
                      <!--<div class="stat-percent font-bold text-info">0% <i class="fa fa-level-down"></i></div>-->
                      <div class="alertaTransaccional">
                        <strong class="color1"><%= t('views.home_index.atendidas') %></strong>
                        <small class="no-margins color1"><%= Tbitacora.where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdProducto => 1).where.not(:IdUsuario => "N/A").count %></small>
                        <br>
                        <strong class="color2"><%= t('views.home_index.no_Atendidas') %></strong>
                        <small class="no-margins color2"><%= Tbitacora.where(:IdEstado => 1).where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdProducto => 1).where(:IdUsuario => "N/A").count %></small>
                        <br>
                      </div>


                    </div>
                  </div>
                </div>
            <% end %>


            <% if (@leerNewPer == 2 && @leerNewTran == 2) || (@leerConPer == 2 && @leerConTran == 2) #Se muestran ambas    %>
                <div class="col-md-4">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
                      <h3><%= t('views.home_index.total_alert_per') %></h3>
                    </div>
                    <div class="ibox-content">
                      <!--<h1 class="no-margins">0</h1>-->
                      <div class="alertaPerfiles">
                        <strong class="color1"><%= t('views.home_index.atendidas') %></strong>
                        <small class="no-margins color1"><%= Tbitacora.where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdProducto => 2).where.not(:IdUsuario => "N/A").count %></small>
                        <br>
                        <strong class="color2"><%= t('views.home_index.no_Atendidas') %></strong>
                        <small class="no-margins color2"><%= Tbitacora.where(:IdEstado => 1).where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdProducto => 2).where(:IdUsuario => "N/A").count %></small>
                        <br>
                      </div>

                    </div>
                  </div>
                </div>
            <% elsif (@leerNewPer == 2 && @leerNewTran != 2) || (@leerConPer == 2 && @leerConTran != 2) #Solo perfiles   %>
                <div class="col-md-6">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <span class="label label-success pull-right"><%= t('views.home_index.until') + ' ' + Time.now.strftime("%F %T").to_s %></span>
                      <h3><%= t('views.home_index.total_alert_per') %></h3>
                    </div>
                    <div class="ibox-content">
                      <!--<h1 class="no-margins">0</h1>-->
                      <div class="alertaPerfiles">
                        <strong class="color1"><%= t('views.home_index.atendidas') %></strong>
                        <small class="no-margins color1"><%= Tbitacora.where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdProducto => 2).where.not(:IdUsuario => "N/A").count %></small>
                        <br>
                        <strong class="color2"><%= t('views.home_index.no_Atendidas') %></strong>
                        <small class="no-margins color2"><%= Tbitacora.where(:IdEstado => 1).where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdProducto => 2).where(:IdUsuario => "N/A").count %></small>
                        <br>
                      </div>

                    </div>
                  </div>
                </div>
            <% end %>


          </div>
        </div>




        <br>
        <br>
        <br>
        <br>

    <% else %>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h1><%= t('views.sessions_new.welcome') %></h1>
              </div>
              <div class="ibox-content">
                <h3> <%= t('views.home_index.no_per') %> </h3>
                <br>
                <%= link_to t('all.logout'), destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
              </div>
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>
    <% end %>
<% end %>

<% content_for :javascript do %>

  <script type="text/javascript">
//      $(document).ready(function () {
//          var $input = $('#refresh');
//
//          $input.val() == 'yes' ? location.reload(true) : $input.val('yes');
//      });

      $(document).ready(function () {
          setInterval(function () {
              $('.todas').fadeOut('slow', function () {
                  $(this).fadeIn('slow');
              });
              $('.todas').load("home/contadorSuperior")
              //}, 1000 * 300);

              //---- Alertas No Atendidas
              $('.total-to-attend').fadeOut('slow', function () {
                  $(this).fadeIn('slow');
              });

              $('.total-to-attend').load("home/totalPoratender")
              //}, 1000 * 300);

              $('.total-attend').fadeOut('slow', function () {
                  $(this).fadeIn('slow');
              });

              $('.total-attend').load("home/totalAtendidas")

          }, 30000);

          setInterval(function () {
              $('.contadorSuperior').fadeOut('slow', function () {
                  $(this).fadeIn('slow');
              });
              $('.contadorSuperior').load("home/pie1")

          }, 30000);

          setInterval(function () {
              $('.pie2').fadeOut('slow', function () {
                  $(this).fadeIn('slow');
              });
              $('.pie2').load("home/pie2")
              //}, 1000 * 300);
          }, 30000);


          setInterval(function () {
              $('.pie3').fadeOut('slow', function () {
                  $(this).fadeIn('slow');
              });
              $('.pie3').get("home/pie3")
              //}, 1000 * 300);
          }, 30000);

          setInterval(function () {
              $('.totalAlerts').fadeOut('slow', function () {
                  $(this).fadeIn('slow');
              });
              $('.totalAlerts').load("home/totalAlerts")
              //}, 1000 * 300);
          }, 30000);

          setInterval(function () {
              $('.alertaTransaccional').fadeOut('slow', function () {
                  $(this).fadeIn('slow');
              });
              $('.alertaTransaccional').load("home/alertaTransaccional")
              //}, 1000 * 300);
          }, 30000);


          setInterval(function () {
              $('.alertaPerfiles').fadeOut('slow', function () {
                  $(this).fadeIn('slow');
              });
              $('.alertaPerfiles').load("home/alertaPerfiles")
              //}, 1000 * 300);
          }, 30000);
      });
  </script>
<% end %>

<style>
  #flot-pie-chart {
    width: 30em;
    height: 30em;
  }

  #flot-pie-chart-tran {
    width: 30em;
    height: 30em;
  }

  #flot-pie-chart-per {
    width: 30em;
    height: 30em;
  }

  #flotTip {
    padding: 3px 5px;
    background-color: #000;
    z-index: 100;
    color: #fff;
    opacity: .80;
    filter: alpha(opacity=85);
  }

  .responsiveGeneral {
    min-height: 35em;
    position: relative;
    overflow: hidden;
  }

  .prodDash {
    min-height: 35em;
    position: relative;
    overflow: hidden;
  }

  .navy-bg {
    width: 517px;
    height: 110px;
  }

  small, strong {
    font-size: medium;
  }

  .color1 { /*transaccional atendidas*/
    color: #498fc8;
    text-shadow: #498fc8;
  }

  .color2 { /*transaccional no atendidas*/
    color: #14568c;
    text-shadow: #14568c;
  }

</style>