<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name">KS</h1>

    </div>
    <h3><%= t('views.sessions_new.welcome') %></h3>
    <p>
      <%= t('views.sessions_new.sub_mes1') %>
    </p>
    <p><%= t('views.sessions_new.sub_mes2') %></p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.text_field :login, autofocus: true, class: "form-control", placeholder: t('views.sessions_new.placeh_user'), :required => true, autocomplete: "off", :id => "user_login", :oninput => "setCustomValidity('')", :maxlength => '255' %>
        </div>
        <div class="input-group">
          <%= f.password_field :password, class: "form-control", id: 'pwd', placeholder: t('views.sessions_new.placeh_pass'), autocomplete: "off", :required => true, :oninput => "setCustomValidity('')", :maxlength => '255' %>
          <span class="input-group-btn">
            <button class="btn btn-default reveal" type="button"><i class="fa fa-eye"></i></button>
          </span>
        </div>
        <br>
        <div class="form-group">
          <input type="hidden" id="valorEnvio" class="form-control" name="valorEnvio">
          <%= f.submit t('views.sessions_new.login_button'), class: 'btn btn-primary block full-width m-b' %>
        </div>

        <div>
          <%= render "devise/shared/links" %>
        </div>

        <br>
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <div class="form-group">
              <p class="text-muted text-center">
                <small><%= t('views.sessions_new.no_account')%></small>
              </p>

              <%= link_to t('views.sessions_new.sign_up_l'), new_registration_path(resource_name), class: "btn btn-warning block full-width m-b" %>
            </div>
        <% end -%>

        <p class="m-t">
          <small>KS Soluciones S.A. de C.V. &copy; 1998-2018</small>
        </p>

        <div class="form-group">
          <%= link_to image_tag("mexico.png", border: 0, :height => 14, width: 26), locale: :es %>
          <%= link_to image_tag("eua.png", border: 0, :height => 14, width: 26), locale: :en %>
        </div>
    <% end %>
  </div>
</div>


<script type)="text/javascript">

    $('#user_login').change(function () {

        $('#valorEnvio').val($(this).val())
    })

    //$(".reveal").on('click',function() {
    $(".reveal").mouseover(function () {
        var $pwd = $("#pwd");
        if ($pwd.attr('type') === 'password') {
            $pwd.attr('type', 'text');
        } else {
            $pwd.attr('type', 'password');
        }
    })

    $(".reveal").mouseout(function () {
        var $pwd = $("#pwd");
        if ($pwd.attr('type') === 'text') {
            $pwd.attr('type', 'password');
        } else {
            $pwd.attr('type', 'text');
        }
    })
    ;

//    $(document).ready(function () {
//        var mensaje = $("#msj").text()
//
//        if (mensaje == 'Your account has expired due to inactivity. Please contact the site administrator.' || mensaje == "Su cuenta ha expirado debido a inactividad. Por favor contacte a su administrador.") {
//
//            $("#activarCuenta").show();
//
//        }
//    });

    $('#new_user').validate({
        messages: {
            "user[login]": {
                required: "<%= t('all.requi')%>"
            },
            "user[password]": {
                required: "<%= t('all.requi')%>"
            }
        },
        //ACOMODAR MENSAJES DEBAJO DE LOS INPUT-GROUP DEMO: http://jsfiddle.net/mapb_1990/hTPY7/7/
        errorPlacement: function(error, element) {
            if(element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        }
    });
</script>
