<!-- PRUEBA -->
<div class="row flexbox" id="conte">
  <div class="col-md-4 flexbox">
    <div class="width widget style1 navy-bg" id="p2">
      <div class="row">
        <div class="col-xs-12">
          <h3><i class="fa fa-signal fa-2x" id="a1"></i> <%= t('views.home_index.total_alert') %></h3>
        </div>
        <div class="col-xs-12 par2">
          <div>
            <div class="row">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6 text-left" id="text">
                    <!--<#% @fechacontadores = Time.now.strftime("%Y-%m-%d")-->
                    <!--@bitaTotal = Tbitacora.where(:IdEstado => 1).where(:canceladas => 0).where(:IdTipoReg => 3).where(:Fecha => @fechacontadores).where.not(:IdUsuario => "N/A").count %>-->

                    <%
                      @bitaAlertasAtendidasTran = Tatendidasxhoy.where(:fecha => Time.now.strftime("%Y-%m-%d")).where(:idProducto => 1).first.cantidad
                      @bitaAlertasAtendidasPer = Tatendidasxhoy.where(:fecha => Time.now.strftime("%Y-%m-%d")).where(:idProducto => 2).first.cantidad
                      @bitacoratotal = @bitaAlertasAtendidasTran.to_i + @bitaAlertasAtendidasPer.to_i
                    %>

                    <br/>
                    <h3 class="font-bold izq"><%= t('views.alertc_par2.atend') %></h3>
                    <h2 class="izq"><%= number_with_delimiter(@bitacoratotal, :delimiter => ',') %></h2>
                  </div>
                  <div class="col-md-6 text-right" id="text">
                    <% @fechacontadores = Time.now.strftime("%Y-%m-%d")
                       @bitaTotal = Tbitacora.where(:IdEstado => 1).where(:canceladas => 0).where(:IdTipoReg => 3).where(:Fecha => @fechacontadores).where(:IdUsuario => "N/A").count %>
                    <br/>
                    <h3 class="font-bold der"><%= t('views.alertc_par2.not_atend') %></h3>
                    <h2 class="der"><%= number_with_delimiter(@bitaTotal, :delimiter => ',') %></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 flexbox">
    <div class="width widget style1 navy-bg" id="p3">
      <div class="row">
        <div class="col-xs-12">
          <h3><i class="fa fa-signal fa-2x" id="a2"></i> <%= t('views.home_index.alerts_prod_tran') %></h3>
        </div>

        <div class="col-xs-12 par3">
          <div>
            <div class="row">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6 text-left" id="text">
                    <!--<#% @bitaAlertasxAtenderTran = Tbitacora.where(:IdEstado => 1).where(:canceladas => 0).where(:IdTipoReg => 3).where(:Fecha => Time.now.strftime("%Y-%m-%d")).where.not(:IdUsuario => "N/A").count %>-->
                    <% @bitaAlertasAtendidasTran = Tatendidasxhoy.where(:fecha => Time.now.strftime("%Y-%m-%d")).where(:idProducto => 1).first.cantidad %>
                    <br>
                    <h3 class="font-bold izq"><%= t('views.alertc_par3.atend') %></h3>
                    <h2 class="izq"><%= number_with_delimiter(@bitaAlertasAtendidasTran, :delimiter => ',') %></h2>
                  </div>
                  <div class="col-md-6 text-right" id="text">
                    <% @bitaAlertasxAtenderTran = Tbitacora.where(:IdEstado => 1).where(:canceladas => 0).where(:IdTipoReg => 3).where(:Fecha => Time.now.strftime("%Y-%m-%d")).where(:IdUsuario => "N/A").count %>
                    <br>
                    <h3 class="font-bold der"><%= t('views.alertc_par3.not_atend') %> </h3>
                    <h2 class="der"><%= number_with_delimiter(@bitaAlertasxAtenderTran, :delimiter => ',') %></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-4 flexbox">
    <div class="width widget style1 navy-bg" id="p4">
      <div class="row">
        <div class="col-xs-12">
          <h3><i class="fa fa-signal fa-2x" id="a3"></i> <%= t('views.home_index.alerts_prod_per') %></h3>
        </div>

        <div class="col-xs-12 par4">
          <div>
            <div class="row">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6 text-left" id="text">
                    <!--<#% @bitaAlertasAtenderPer = Tbitacora.where(:IdEstado => 1).where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdProducto => 2).where(:Fecha => Time.now.strftime("%Y-%m-%d")).where.not(:IdUsuario => "N/A").count %>-->
                    <% @bitaAlertasAtendidasPer = Tatendidasxhoy.where(:fecha => Time.now.strftime("%Y-%m-%d")).where(:idProducto => 2).first.cantidad %>
                    <br>
                    <h3 class="font-bold izq"> <%= t('views.alertc_par4.atend') %> </h3>
                    <h2 class="izq"><%= number_with_delimiter(@bitaAlertasAtendidasPer, :delimiter => ',') %></h2>
                  </div>
                  <div class="col-md-6 text-right" id="text">
                    <% @bitaAlertasxAtenderPer = Tbitacora.where(:IdEstado => 1).where(:canceladas => 0).where(:IdTipoReg => 3).where(:IdProducto => 2).where(:Fecha => Time.now.strftime("%Y-%m-%d")).where(:IdUsuario => "N/A").count %>
                    <br>
                    <h3 class="font-bold der"> <%= t('views.alertc_par4.not_atend') %> </h3>
                    <h2 class="der"> <%= number_with_delimiter(@bitaAlertasxAtenderPer, :delimiter => ',') %></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- PRUEBA -->
<% content_for :javascript do %>
    <script type="text/javascript" charset="utf-8">

        $(document).ready(function () {
            setInterval(function () {
                $('.par2').fadeOut('slow', function () {
                    $(this).fadeIn('slow');
                });
                $('.par2').load("/alertc/par2")

            }, 30000);
        });

        $(document).ready(function () {
            setInterval(function () {
                $('.par3').fadeOut('slow', function () {
                    $(this).fadeIn('slow');
                });
                $('.par3').load("/alertc/par3")

            }, 30000);
        });

        $(document).ready(function () {
            setInterval(function () {
                $('.par4').fadeOut('slow', function () {
                    $(this).fadeIn('slow');
                });
                $('.par4').load("/alertc/par4")

            }, 30000);
        });
    </script>
<% end %>